<div class="app-menu navbar-menu" style="background: linear-gradient(45deg, #4b0082, #9400d3);">
  <!-- LOGO -->
  <div class="navbar-brand-box">
    <a href="home" class="logo logo-light">
      <span class="logo-sm">
        <img src="assets/images/logo-sm.png" alt="" height="22">
      </span>
      <span class="logo-lg">
        <img src="assets/images/logoo.png" alt="" style="width: 300px; height: 220px; margin-left: -35%; margin-top: -15%;">
      </span>
    </a>
    <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
      <i class="ri-record-circle-line"></i>
    </button>
  </div>

  <div id="scrollbar" data-simplebar="init" class="h-100 simplebar-scrollable-y">
    <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content">
      <div class="container-fluid">
        <ul class="navbar-nav" id="navbar-nav" data-simplebar="init">

          <!-- Dashboard -->
          <li class="nav-item" *ngIf="hasRole('ADMIN') || hasRole('MANAGER')">
            <a class="nav-link menu-link collapsed" href="#sidebarDashboards" routerLink="/home">
              <i class="ri-dashboard-line" style="color: white;"></i>
              <span data-key="t-dashboards" style="color: white;">Dashboard</span>
            </a>
          </li>

          <!-- Users -->
          <li class="nav-item" *ngIf="hasRole('ADMIN')">
            <a class="nav-link menu-link collapsed" href="#sidebarADMIN" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarApps">
              <i class="ri-user-settings-line"></i> <span data-key="t-apps">Users</span>
            </a>
            <div class="collapse menu-dropdown" id="sidebarADMIN">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a class="nav-link collapsed" routerLink="/adduser">Ajouter User</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/listuser">Liste Users</a>
                </li>
              </ul>
            </div>
          </li>

          <!-- Structure -->
          <li class="nav-item" *ngIf="hasRole('ADMIN')">
            <a class="nav-link menu-link collapsed" href="#sidebarClient" data-bs-toggle="collapse">
              <i class="ri-building-line"></i> <span data-key="t-apps">Structure</span>
            </a>
            <div class="collapse menu-dropdown" id="sidebarClient">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a class="nav-link collapsed" routerLink="/addstructure">Ajouter Structure</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link collapsed" routerLink="/liststructure">Liste Structures</a>
                </li>
              </ul>
            </div>
          </li>

          <!-- Formateur -->
          <li class="nav-item" *ngIf="hasRole('ADMIN') || isSimpleUser()">
            <a class="nav-link menu-link collapsed" href="#sidebarCoachs" data-bs-toggle="collapse">
              <i class="ri-user-star-line"></i> <span data-key="t-apps">Formateur</span>
            </a>
            <div class="collapse menu-dropdown" id="sidebarCoachs">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item" >
                  <a class="nav-link collapsed" routerLink="/addformateur">Ajouter Formateurs</a>
                </li>
                <li class="nav-item" >
                  <a class="nav-link collapsed" routerLink="/listformateur">Liste Formateurs</a>
                </li>
              </ul>
            </div>
          </li>

          <!-- Formation -->
          <li class="nav-item" *ngIf="hasRole('ADMIN') || isSimpleUser()">
            <a class="nav-link menu-link collapsed" href="#sidebarSalle" data-bs-toggle="collapse">
              <i class="ri-book-open-line"></i> <span data-key="t-apps">Formation</span>
            </a>
            <div class="collapse menu-dropdown" id="sidebarSalle">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item" >
                  <a class="nav-link collapsed" routerLink="/addformation">Ajouter Formation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link collapsed" routerLink="/listformation">Liste Formations</a>
                </li>
              </ul>
            </div>
          </li>

          <!-- Participant -->
          <li class="nav-item" *ngIf="hasRole('ADMIN')">
            <a class="nav-link menu-link collapsed" href="#sidebarAbonnement" data-bs-toggle="collapse">
              <i class="ri-user-add-line"></i> <span data-key="t-apps">Participant</span>
            </a>
            <div class="collapse menu-dropdown" id="sidebarAbonnement">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a class="nav-link collapsed" routerLink="/addparticipant">Ajouter Participant</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link collapsed" routerLink="/listparticipant">Liste Participants</a>
                </li>
              </ul>
            </div>
          </li>

          <!-- Domaine -->
          <li class="nav-item" *ngIf="hasRole('ADMIN')">
            <a class="nav-link menu-link collapsed" href="#sidebarDomaine" data-bs-toggle="collapse">
              <i class="ri-folders-line"></i> <span data-key="t-apps">Domaine</span>
            </a>
            <div class="collapse menu-dropdown" id="sidebarDomaine">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a class="nav-link collapsed" routerLink="/adddomaine">Ajouter Domaine</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link collapsed" routerLink="/listdomaine">Liste Domaine</a>
                </li>
              </ul>
            </div>
          </li>

          <!-- Role
          <li class="nav-item" *ngIf="hasRole('ADMIN')">
            <a class="nav-link menu-link collapsed" href="#sidebarRole" data-bs-toggle="collapse">
              <i class="ri-shield-user-line"></i> <span data-key="t-apps">Role</span>
            </a>
            <div class="collapse menu-dropdown" id="sidebarRole">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a class="nav-link collapsed" routerLink="/addrole">Ajouter Role</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link collapsed" routerLink="/listrole">Liste Roles</a>
                </li>
              </ul>
            </div>
          </li>
           -->

          <!-- Contact -->
          <li class="nav-item" *ngIf="hasRole('ADMIN')">
            <a class="nav-link menu-link collapsed" href="#sidebarContact" data-bs-toggle="collapse">
              <i class="ri-contacts-line"></i> <span data-key="t-apps">Contact</span>
            </a>
            <div class="collapse menu-dropdown" id="sidebarContact">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a class="nav-link collapsed" routerLink="/listcontact">Liste Contacts</a>
                </li>
              </ul>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>