
.btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .custom-btn {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .custom-btn.success {
    background-color: #28a745;
    color: white;
  }
  .custom-btn.danger {
    background-color: #dc3545;
    color: white;
  }
  .custom-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }


  /* table design*/
  /* Styling for table */
.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}


.table th {
  background-color: #9795BF;
  color: black;
  text-align: left;
  padding: 12px;
  border-bottom: 2px solid #fff; 
  position: relative;
}


.table tr:nth-child(even) {
  background-color: #f2f2f2; 
}


.table tr:nth-child(odd) {
  background-color: #fff; 
}


.table td {
  padding: 12px;
  border-bottom: 1px solid #ddd; 
}


.table td:last-child {
  border-bottom: none; 
}


.table tr:hover {
  background-color: #e0e0e0; 
}


.card {
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-header {
  background: linear-gradient(45deg,  #9400d3,#4b0082);
  color: #fff;
  padding: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.custom-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #2ecc71; 
  color: #fff;
}


.custom-btn.danger {
  background-color: #e74c3c; 
}


.custom-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.08);
}


.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.pagination li a:hover {
  background-color: #f2f2f2;
}

.card-title{
  color: white;
}






